* {
  box-sizing: border-box;
}


body {
    background-color: #2B283A;
    font-family: Karla, sans-serif;
    color: #2B283A;
    line-height: 1.15;
    margin: 0;
}

a {
  text-decoration: none;
  color: #2B283A;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.board {
  background-color: #F5F5F5;
  padding: 3rem 3rem 1rem 3rem ;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1 {
  display: block;
  font-size: 3em;
  
}
h2 {
  text-align: center;
  max-width: 80%;
}

.container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.die {
  height: 80px;
  width: 80px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.die p {
  font-size: 2rem;
  font-weight: 700;
}

.die-held{
  background: #fc8b7a;
}

.roll-btn {
  padding: 1rem 2rem;
  background-color: #5035FF;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 3.81277px;
  border-style: none;
  color: #FFF;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  transform: scale(1);
  transition: transform 250ms;
  
}

.roll-btn:hover {
  
  transform: scale(1.05);
  cursor: pointer;
  background-color: #583efd;
}

.stats {
  width: 100%;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.stat {
  display: block;
  margin: 10px;
}

footer {
  display: flex;
  justify-content: space-around;
  /* letter-spacing: 1px; */
}

footer:hover,
footer:focus {
  font-weight: 700;
} 

.year {
  display: inline;
  margin-left: .2em;
}

@media (max-width: 500px) {

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1em;
  }

  .board {
    padding: .5em;
    margin: .5em;
  }

  .die {
    height: 50px;
    width: 50px;
  }

  .container {
    display: grid;
    gap: 15px;
    margin: 1em;
  }
  .roll-btn {
    margin: 1.5em;
  }
}