* {
  box-sizing: border-box;
}

body {
    background-color: #2B283A;
    font-family: Karla, sans-serif;
    color: #2B283A;
    line-height: 1.15;
    margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.board {
  background-color: #F5F5F5;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
}
h1 {
  display: block;
  font-size: 3em;
  
}

.dice-contaner {
  display: grid;
  grid-template-rows: repeat(5, auto);
}

.die {
  background-color: #FFFFFF;
  padding: 40px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}
